/*  styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.product {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 15px;
}

.product img {
  width: 100%;
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

#cart-list {
  list-style-type: none;
}

#login {
  display: none; /* 隐藏登录框 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
